<template>
  <div
    class="modal fade"
    :class="{ show: isOpen }"
    v-if="isOpen"
    :style="{ display: isOpen ? 'block' : 'none' }"
    @click.self="close"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="close"
          ></button>
        </div>
        <div class="modal-body">
          <slot />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            @click="close"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VModal",
  data: () => ({
    isOpen: false,
    success: null,
    refuse: null,
  }),
  props: {
    title: {
      type: String,
      required: true,
    },
  },
  methods: {
    open() {
      this.isOpen = true;
      return new Promise((resolve, reject) => {
        this.success = resolve;
        this.refuse = reject;
      });
    },
    close() {
      this.isOpen = false;
      this.success();
    },
  },
};
</script>

<style lang="scss" scoped>
.modal {
  background: rgba(0, 0, 0, 0.5);
}
</style>
