<template>
  <div class="py-4 d-flex flex-column h-100">
    <div class="container flex-grow-1">
      <div class="row justify-content-center">
        <div class="mb-4 col-6 text-center">
          <label for="package" class="d-block mb-2">Enter package name</label>
          <input id="package" class="form-control" type="text" @input="input" />
        </div>
      </div>

      <div class="btn-group mb-4">
        <button
          class="btn btn-primary"
          @click="prev"
          :disabled="isLoading || page === 1 || !search"
        >
          prev
        </button>

        <button disabled class="btn">page: {{ page }}</button>

        <button
          class="btn btn-primary"
          @click="next"
          :disabled="isLoading || !search"
        >
          next
        </button>
      </div>

      <div class="mb-4 card p-2">
        <template v-if="!isLoading">
          <template v-if="packages.length">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Last version</th>
                  <th>npm link</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(object, index) in packages"
                  :key="index"
                  @click="openModal(object)"
                >
                  <td>
                    {{ object.package.name }}
                  </td>
                  <td>
                    {{
                      object.package?.author?.name ??
                      object.package?.author?.username ??
                      "-"
                    }}
                  </td>
                  <td>{{ object.package.version }}</td>
                  <td>
                    <a target="_blank" :href="object.package.links?.npm">{{
                      object.package.links?.npm
                    }}</a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr></tr>
              </tfoot>
            </table>
          </template>
          <template v-else>
            <div class="text-center">
              <span class="badge text-danger">Empty list</span>
            </div>
          </template>
        </template>
        <template v-else>
          <div class="text-center">
            <span class="badge text-primary">Loading...</span>
          </div>
        </template>
      </div>
    </div>
    <v-modal ref="modal" :title="activePackage?.name">
      <ul>
        <li v-for="(value, key) in activePackage" :key="key">
          <b>{{ key }}:</b> {{ value }}
        </li>
      </ul>
    </v-modal>
    <!--    <footer>{{ activePackage }}</footer>-->
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import VModal from "@/components/Modal.vue";

export default {
  name: "App",
  components: { VModal },
  data: () => ({
    isLoading: false,
  }),
  computed: {
    ...mapState(["packages", "activePackage"]),
    ...mapState({
      page: (state) => state.paginate.page,
    }),
    search: {
      get() {
        return this.$store.state.search;
      },
      set(value) {
        this.setSearch(value);
      },
    },
  },
  methods: {
    ...mapActions([
      "getPackages",
      "debounceGetPackages",
      "getPrevPage",
      "getNextPage",
    ]),
    ...mapMutations({
      setSearch: "SET_SEARCH",
      setActivePackage: "SET_ACTIVE_PACKAGE",
    }),
    async input(e) {
      this.setSearch(e.target.value);
      this.isLoading = true;
      await this.debounceGetPackages({
        text: e.target.value,
        cb: () => {
          this.isLoading = false;
        },
      });
    },
    next() {
      this.isLoading = true;
      this.getNextPage(() => {
        this.isLoading = false;
      });
    },
    prev() {
      this.isLoading = true;
      this.getNextPage(() => {
        this.isLoading = false;
      });
    },
    openModal(object) {
      this.setActivePackage(object.package);
      this.$refs.modal.open();
      // .then(()=>{})
    },
  },
};
</script>

<style lang="scss">
html,
body,
#app {
  min-height: 100%;
  height: 100%;
}
</style>
